/*
 * Author 	: Hufeng Zhou
 * Email 		: hzhou@hsph.harvard.edu
 * Website	:	http://covid19-analysis.org
 */
#@import url('https://fonts.googleapis.com/css?family=Lato')
/*
 * Basic CSS starts
 */

body{
	#font-family: 'Open Sans', Sans Serif;
	font-family: 'Lato';
	font-weight: 600;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}

.watermarked{
  background-image: url("https://covid19-analysis.github.io/img/covid19logo3.png");
	background-size:80% 100%;
  position: relative;
	width="420" height="460"
  #left: 0px;
  opacity: 0.1;
}

#fwds{
  opacity:0.99;
}

.wmk{
  background-image: url("https://covid19-analysis.github.io/img/covid19logo4OP.png") ;
	background-position-x: 50%;
	height: 333px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-size: 68% 99%;
}

#watermark {
  height: 450px;
  width: 600px;
  position: relative;
  overflow: hidden;
}
#watermark img {
  background-image: url("https://covid19-analysis.github.io/img/covid19logo3.png");
  max-width: 100%;
  #opacity: 0.3;
}
#watermark p {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 18px;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

#wd{
	margin-left: 15px;
	color: white;
}

#tab{
  #margin-left: 15px;
  #color: white;
  #font-weight: 600;
	font-size: 18px;
  #text-transform:uppercase;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Lato';
 #font-family: 'Open Sans', Sans Serif;
	font-weight: 800;
}

p{
	margin:0;
	padding:0;
  color: #787878;
	font-family: 'Lato';
}

a{
	text-decoration: none;
	color: #288f8d;
  #color: #d65814;
}

a:hover{
	text-decoration: none;
	color: #a93c01;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/*
 * Basic CSS ends
 */

header .navbar {
	margin: 0;
  #background: #d65814;
  #background: #288f8d;
  #background: #154f4f;
  #background: #7bb3b3;
	background: #97b9c9;
	border-radius: 0;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}
header .navbar-default .navbar-nav>li>a {
	margin: 15px 3px;
	padding-top: 6px;
	color: #fff;
	padding-bottom: 6px;
	border-radius: 2px;
}

header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li.open>a:hover,
header .navbar-default .navbar-nav>li.open>a:focus {
	background: #fff;
}

header .navbar-nav .dropdown-menu {
	top: 57px;
	border-radius: 3px;
}
header .navbar-nav .dropdown-menu:after,
header .navbar-nav .dropdown-menu:before {
	bottom: 100%;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header .navbar-nav .dropdown-menu:after {
	border-color: rgba(240, 253, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
}

header .navbar-nav .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #288f8d;
  #border-bottom-color: #d65814;
	border-width: 8px;
	margin-right: -1px;
}
header .navbar-brand {
	padding: 0;
	height: auto;
}
header .navbar-brand img {
	position: relative;
	top: 5px;
	max-width: 165px;
}

/*
 * Banner
 */

.banner {
  #background: #288f8d;
  #background: #e47133;
  background: #3e7787;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.banner h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 66px;
	line-height: 76px;
	color: #eee;
	font-family: 'Lato';
  #text-transform: capitalize;
}
.banner p {
  #max-width: 700px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 18px;
	font-family: 'Lato'
	line-height: 26px;
	color: #ddd;
  #text-transform: uppercase;
  #letter-spacing: 0.055em;
}

/*
 * after banner content
 */

.after-banner {
	padding-top: 60px;
}

.after-banner .ab-item {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
}

.after-banner .ab-item h3 {
	margin-top: 0;
	font-size: 24px;
}

.after-banner .ab-item  p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.025em;
}

/*
 * default heading
 */

.default-heading  {
	margin-top: 20px;
	margin-bottom: 10px;
}
.default-heading h2{
	margin-top: 0;
	font-size: 30px;
	color: #676767;
	font-weight: 400;
}

/*
 * events
 */

.event {
	padding-top: 1px;
}

.event .event-item {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
}

.event .event-item img {
	border: 1px solid #ddd;
	border-radius: 3px;
}

.event .event-item h4 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 30px;
}

.event .event-item .sub-text {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	color: #999;
	font-style: italic;
}

.event .event-item  p {
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.025em;
}

/*
 * footer
 */

footer {
	margin-top: 80px;
	padding: 3px 0;
  #background: #288f8d;
  #background: #d65814;
  background: #3e7787;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
}
footer.ffoot {margin-top: 0;}
footer p {
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
footer p a {
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	color: #fff;
}

footer p a:hover { color: #a93c01; }

footer .social a {
	display: inline-block;
	margin: 0 2px;
	margin-top: 5px;
	padding: 2px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	font-size: 14px;
	border-radius: 50%;
}

footer .social a  i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	border-radius: 50%;
	border: 1px dashed #288f8d;
  #border: 1px dashed #d65814;
}

footer .copy-right {
	margin-top: 5px;
}

