/*
 * team
 */

.team {
	padding-top: 60px;
}

.team .member {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 30px;
}

.team .member img {
	border: 1px solid #ddd;
	border-radius: 3px;
}

.team .member  h3 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 22px;
}

.team .member .dig {
	display: block;
	font-size: 13px;
	color: #787878;
}

/*
 * login & registration page content
 */

.login-area,
.register-area {
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
}

.login-area h3,
.register-area h3 {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 22px;
	color: #fff;
}

.login-area form,
.register-area form {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: left;
}
.login-area form label ,
.register-area form label { color: #fff; }
.login-area form .form-control,
.register-area form .form-control {
	box-shadow: none !important;
	border: 1px solid #d3d3d3;
	border-radius: 2px;
	height: 45px;
	font-size: 16px;
}
.login-area form .btn {
	display: block;
	width: 100%;
	margin-top: 15px;
}
.register-area form .btn {
	margin-top: 5px;
}


/*
 * Responsive CSS
 */

/*
 * Mobile phones
 */
@media (max-width: 480px){

}

/*
 * Tablets
 */
@media (max-width: 767px){
	header .navbar-brand img { max-width: 140px; top: 3px; }
	header .navbar-nav .dropdown-menu:after,
	header .navbar-nav .dropdown-menu:before { display: none;}
	header .navbar-nav .dropdown-menu li a { color: #fff !important;}
	header .navbar-default .navbar-toggle .icon-bar {background: #fff;	}
	header .navbar-collapse { border: 0; box-shadow: none; }
	header .navbar-default .navbar-toggle,
	header .navbar-default .navbar-toggle:hover,
	header .navbar-default .navbar-toggle:focus	{
		background: transparent;
		border-color: #fff;
	}

	.default-heading {text-align: center;}
}

/*
 * Desktop
 */
@media (max-width: 991px){

}
